/* FONTS FROM GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*================ Variables CSS ============*/
:root {
  /*========= Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /*
     Gray: hsl(0, 0%, 21%)
     Red: hsl(0, 60%, 25%)
     */

 --hue: 0
 --sat: 0%
 --lig: 21%

 --first-color: hsl(var(--hue), var(--sat), var(--lig))
 --first-color
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*body*/

body {
  background-color: #1e1e1e;
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center  ;
  margin: auto;
  
}
/* header */
header {
  background-color: #1e1e1e;
  color: white;
  padding: 15px;
  text-align: center;
}
/* images */
img {
  border-radius: 50%;
  display: block;
  width: 8%;
  right: 16px;
  position: absolute;
  
}

/* navbar */

nav {
  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 7px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
}
/* main */
article {
  background-color: #f1f1f1;
  padding: 15px;
  text-align: left;
}

#about {
  padding: 15px;
  text-align: center;
}
/* footer */

footer {
  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;
}
