/*body*/
body {
  background-color: #1e1e1e;
  color: white;
  font-family: "Roboto", sans-serif;
}
/* header */
header {
  background-color: #1e1e1e;
  color: white;
  padding: 15px;
  text-align: center;
}
/* images */
img {
  border-radius: 50%;
  display: block;
  width: 8%;
  right: 16px;
  position: absolute;
}

/* navbar */

nav {
  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 7px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
}
/* main */
article {
  background-color: #f1f1f1;
  padding: 15px;
  text-align: left;
}

#about {
  padding: 15px;
  text-align: center;
  flex: 1;
}

#projects {
  text-align: center;
  padding: 15px;
}

#learned {
  text-align: center;
  padding: 15px;
  flex: 1;
}

#email {
  text-align: center;
}

/* buttons */
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #490909;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #181717;
}
/* Social links */
.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.social-button {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  background-color: #461010;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
}

.social-button i {
  margin-right: 5px;
}

.social-button:hover {
  background-color: #101010; /* Change the hover background color as needed */
}

@media (max-width: 768px) {
  .social-buttons {
    flex-direction: column;
    align-items: center;
  }
}

/* footer */

footer {
  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;
}
