/*body*/
body {
  background: rgb(2,1,18);
  background: linear-gradient(180deg, rgba(2,1,18,1) 53%, rgba(84,83,96,1) 100%); 
  color: white;
  font-family:Arial, Helvetica, sans-serif;
}
/* header */
header {
  background-color: #1e1e1e;
  color: white;
  padding: 15px;
  text-align: center;
}
/* images */
img {
  border-radius: 50%;
  display: block;
  width: 12%;
  right: 16px;
  position: absolute;
}

/* navbar */

nav {
  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 7px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
}
/* main */
article {
  background-color: #f1f1f1;
  padding: 15px;
  text-align: left;
}

#about {
  padding: 15px;
  text-align: center;
  flex: 1;
  width: 50%;
  margin: auto;
}

#projects {
  text-align: center;
  padding: 15px;
  width: 50%;
  margin: auto;


}

#learned {
  text-align: center;
  padding: 15px;
  flex: 1;
  margin: auto;
}

#email {
  text-align: center;
  margin: auto;
}
.email-link {
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #0c0c0c;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.email-link:hover {
  background-color: #00000032;
}
/* buttons */
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #0c0c0c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #00000032;
}
/* Social links */
.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.social-button {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  background-color: #0c0c0c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
}

.social-button i {
  margin-right: 5px;
}

.social-button:hover {
  background-color: #00000032;
}

@media (max-width: 768px) {
  .social-buttons {
    flex-direction: column;
    align-items: center;
  }
}

/* footer */

footer {  
  color: white;
  padding: 15px;
  text-align: center;
}
